/*** CSS Global Reset ***/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;

}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;

}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/*General Site Styles*/

html {
	scroll-behavior: smooth;
}

:root {
	/*--prim-bck: #1D233D;*/
	--prim-bck: #161712;
	--prim-txt: #F8F8F8;
	--scnd-txt: #999999;
	--opac-txt: #9A9A84;
	--hilt-txt: #007FFF;
	--txt-opac: 0.5;
	--bkgd-hov: #2D2D25;
	--highlte: #FF9D00;
	--hilt-bck: rgba(255, 185, 71, 0.1)
}

:root {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	color: var(--scnd-txt);
	background-color: var(--prim-bck);
	font-family: 'Inter', sans-serif;
	line-height: 1.625;
}

h1,
h2,
h3 {
	color: var(--prim-txt);

}


a,
a:link,
a:visited {

	text-decoration: none;
	color: var(--prim-txt);
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer {
	max-width: 28rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--opac-txt);
}

.BC {
	color: var(--prim-txt);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}

.BC:hover {
	color: rgb(94 234 212);
}

.site-container {

	max-width: 1280px;
	min-height: 100vh;

	margin: 0 auto;
	padding: 3rem 1.5rem;

}

.txt-hilte {
	color: var(--prim-txt) !important;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}

#about .txt-hilte:hover {
	color: var(--hilt-txt) !important;
}

footer .txt-hilte:hover {
	color: var(--highlte) !important;
}

/* Tablets (≥ 600px) */
@media screen and (min-width: 640px) {

	footer {
		padding-bottom: 0;
	}

}

/* Small laptops (≥ 768px) */
@media screen and (min-width: 768px) {
	.site-container {
		padding: 4rem 3rem;
	}
}

/* Desktops (≥ 1024px) */
@media screen and (min-width: 1024px) {

	.site-container {
		display: flex;

		justify-content: space-between;
		gap: 1rem;

		padding: 0 3rem;

	}

}
